PORT=8094
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=website-cms-service

# MongoDB
MONGO_URI=mongodb+srv://mongo:mongo@cluster0.606kvzi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DATABASE=myFirstDatabase
